// This file is intentionally blank
// Use this file to override SCSS within the project, or to add new SCSS for creating your own CSS components
.blanco {
  max-width: 1250px !important;
  background-color: #fff;
  border-color: #fff;
}

.dorado {
  background-color: #b58648;
  border-color: #b58648;
}

header {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.print-source {
  display: none;
}

body > .print-source {
  display: block;
}

@media print {
  .print-source {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .formulario {
    margin-bottom: 40px;
    margin-top: -20px;
  }
  $default-height: 10rem;
}

@media only screen and (max-width: 1000px) {
  .formulario {
    margin-bottom: 30px;
    margin-top: -20px;
  }
  $default-height: 40rem;
}

html {
  background-color: #fff !important;
}

.invoice-box {
  // max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

/** RTL **/
.rtl {
  direction: rtl;
  font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
}

.rtl table {
  text-align: right;
}

.rtl table tr td:nth-child(2) {
  text-align: left;
}

//AAAAAAAAAAAAAaa

.scroll::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  display: none; /* Ocultar scroll */
}

.scroll {
  height: 69.5rem;
  overflow: scroll;
}

.tablaPrintGrande {
  font-family: Helvetica;
  width: 100%;
  color: #666666;
  font-size: 11px;
}
.tablaPrintGrande td {
  text-align: left;
  padding: 8px !important;
}
.tablaPrintGrande th {
  border: 3px solid #dddddd;
  text-align: left;
  padding: 8px !important;
}
.tablaPrint {
  font-family: Helvetica;
  width: 100%;
  color: #666666;
  font-size: 11px;
}
.tablaPrint td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px !important;
}
.tablaPrint tr {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}
#outlook a {
  padding: 0;
}
.ExternalClass {
  width: 100%;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
.es-button {
  mso-style-priority: 100 !important;
  text-decoration: none !important;
}
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
.es-desk-hidden {
  display: none;
  float: left;
  overflow: hidden;
  width: 0;
  max-height: 0;
  line-height: 0;
  mso-hide: all;
}
@media only screen and (max-width: 600px) {
  p,
  ul li,
  ol li,
  a {
    font-size: 16px !important;
    line-height: 150% !important;
  }
  h1 {
    font-size: 30px !important;
    text-align: center;
    line-height: 120% !important;
  }
  h2 {
    font-size: 26px !important;
    text-align: center;
    line-height: 120% !important;
  }
  h3 {
    font-size: 20px !important;
    text-align: center;
    line-height: 120% !important;
  }
  h1 a {
    font-size: 30px !important;
  }
  h2 a {
    font-size: 26px !important;
  }
  h3 a {
    font-size: 20px !important;
  }
  .es-menu td a {
    font-size: 14px !important;
  }
  .es-header-body p,
  .es-header-body ul li,
  .es-header-body ol li,
  .es-header-body a {
    font-size: 14px !important;
  }
  .es-footer-body p,
  .es-footer-body ul li,
  .es-footer-body ol li,
  .es-footer-body a {
    font-size: 14px !important;
  }
  .es-infoblock p,
  .es-infoblock ul li,
  .es-infoblock ol li,
  .es-infoblock a {
    font-size: 12px !important;
  }
  *[class="gmail-fix"] {
    display: none !important;
  }
  .es-m-txt-c,
  .es-m-txt-c h1,
  .es-m-txt-c h2,
  .es-m-txt-c h3 {
    text-align: center !important;
  }
  .es-m-txt-r,
  .es-m-txt-r h1,
  .es-m-txt-r h2,
  .es-m-txt-r h3 {
    text-align: right !important;
  }
  .es-m-txt-l,
  .es-m-txt-l h1,
  .es-m-txt-l h2,
  .es-m-txt-l h3 {
    text-align: left !important;
  }
  .es-m-txt-r img,
  .es-m-txt-c img,
  .es-m-txt-l img {
    display: inline !important;
  }
  .es-button-border {
    display: inline-block !important;
  }
  .es-btn-fw {
    border-width: 10px 0px !important;
    text-align: center !important;
  }
  .es-adaptive table,
  .es-btn-fw,
  .es-btn-fw-brdr,
  .es-left,
  .es-right {
    width: 100% !important;
  }
  .es-content table,
  .es-header table,
  .es-footer table,
  .es-content,
  .es-footer,
  .es-header {
    width: 100% !important;
    max-width: 600px !important;
  }
  .es-adapt-td {
    display: block !important;
    width: 100% !important;
  }
  .adapt-img {
    width: 100% !important;
    height: auto !important;
  }
  .es-m-p0 {
    padding: 0px !important;
  }
  .es-m-p0r {
    padding-right: 0px !important;
  }
  .es-m-p0l {
    padding-left: 0px !important;
  }
  .es-m-p0t {
    padding-top: 0px !important;
  }
  .es-m-p0b {
    padding-bottom: 0 !important;
  }
  .es-m-p20b {
    padding-bottom: 20px !important;
  }
  .es-mobile-hidden,
  .es-hidden {
    display: none !important;
  }
  tr.es-desk-hidden,
  td.es-desk-hidden,
  table.es-desk-hidden {
    width: auto !important;
    overflow: visible !important;
    float: none !important;
    max-height: inherit !important;
    line-height: inherit !important;
  }
  tr.es-desk-hidden {
    display: table-row !important;
  }
  table.es-desk-hidden {
    display: table !important;
  }
  td.es-desk-menu-hidden {
    display: table-cell !important;
  }
  .es-menu td {
    width: 1% !important;
  }
  table.es-table-not-adapt,
  .esd-block-html table {
    width: auto !important;
  }
  table.es-social {
    display: inline-block !important;
  }
  table.es-social td {
    display: inline-block !important;
  }
  a.es-button,
  button.es-button {
    font-size: 20px !important;
    display: inline-block !important;
  }
}
.tablaPrint {
  font-family: Helvetica;
  border-collapse: collapse;
  width: 100%;
}
.tablaPrint td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.tablaPrint tr {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

$default-width: 100vw;
$default-height: 73.5rem;
$default-padding: 0px;

$text-color: #f5f5f5;
$emphasis-color: #ccc;
$link-color: #d6d600;

$slide-primary-color: #000099;
$slide-secondary-color: #4d0099;
$slide-content-color: #004d99;

.presentation-mode {
  // border-radius: 200px !important;
  box-shadow: 5px 10px 16px #5c5b5b !important;
}

.presentation-mode {
  .my-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: $default-height;
    padding: $default-padding;
    line-height: 1.5;
    font-size: 1.5em;
    color: $text-color;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
      border: 0;
      margin: 10px auto;
      padding: 0;
      display: inline-block;
      width: 100%;
    }

    &.complex {
      text-align: left;
      flex-direction: column;
      justify-content: flex-start;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      ul,
      ol {
        margin-bottom: 30px;
      }
    }

    ul,
    ol {
      margin: 10px;
      padding-left: 75px;
    }

    ol li {
      list-style: decimal !important;
    }

    ul li {
      list-style: disc;
    }

    p {
      font-size: 1.2em;
    }

    strong,
    em {
      color: $emphasis-color;
    }

    a {
      color: $link-color;
      border-bottom: 3px dotted $link-color;
      text-decoration: none;
    }

    iframe,
    img {
      width: $default-width;
      height: $default-height;
      margin: -$default-padding;
    }

    ul,
    ol,
    li {
      text-align: left;
    }

    blockquote {
      position: relative;
      color: $text-color;
      text-align: left;
      border-left: 10px solid $emphasis-color;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      padding-left: 50px;
      quotes: "\201C""\201D""\2018""\2019";
    }

    blockquote:before {
      color: #ccc;
      content: open-quote;
      position: absolute;
      left: 10px;
      top: 30px;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    blockquote p {
      display: inline;
    }

    &.primary {
      background-color: $slide-primary-color;
    }

    &.secondary {
      background-color: $slide-secondary-color;
    }

    &.content {
      background-color: $slide-content-color;
    }
  }
}

.legend {
  transition: all 0.5s ease-in-out !important;
  position: absolute !important;
  bottom: -10px !important;
  left: 45% !important;
  margin-left: -45% !important;
  width: 100% !important;
  border-radius: 1px !important;
  background: #b58648 !important;
  color: #fff !important;
  padding: 13px !important;
  font-size: 12px !important;
  text-align: center !important;
  opacity: 1 !important;
  transition: opacity 0.35s ease-in-out !important;
}
